In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
all_songs_df = pd.read_csv(r"C:\Users\kevin\bootcamp\Project_1\resources\master_data_final.csv")
all_songs_df = all_songs_df.iloc[:,[1,2,3,4,5,6,7,8,9,10]]
all_songs_df.head()

,id,title,artist,count,year,duration,loudness,tempo,time_signiture,key
0,17phhZDn6oGtzMe56NuWvj,Lose Control,Teddy Swims,43,2024,210.68884,-4.409,159.920,3,9
1,0mflMxspEfB0VbI1kyLiAv,Stick Season,Noah Kahan,40,2024,182.34671,-6.935,117.896,4,9
2,3xkHsmpQCBMytMJNiDf3Ii,Beautiful Things,Benson Boone,39,2024,180.30449,-5.692,105.029,3,10
3,6D8y7Bck8h11byRY88Pt2z,Houdini,Dua Lipa,37,2024,185.91795,-4.876,116.985,4,9
4,4KULAymBBJcPRpk1yO4dOG,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,35,2024,227.19592,-7.746,77.639,4,0

In [7]:
key_all_songs_df = all_songs_df.iloc[[n for n in range(0,2000)],[0,4,9]]
key_all_songs_df = key_all_songs_df.rename(columns={"key":"key_int"})
key_all_songs_df["key_str"] = ""
key_all_songs_df.head()

                       id  year  key_int key_str
0  17phhZDn6oGtzMe56NuWvj  2024        9
1  0mflMxspEfB0VbI1kyLiAv  2024        9
2  3xkHsmpQCBMytMJNiDf3Ii  2024       10
3  6D8y7Bck8h11byRY88Pt2z  2024        9
4  4KULAymBBJcPRpk1yO4dOG  2024        0

In [8]:
key_reference = {
    0:"C",
    1:"C#",
    2:"D",
    3:"D#",
    4:"E",
    5:"F",
    6:"F#",
    7:"G",
    8:"G#",
    9:"A",
    10:"A#",
    11:"B"
}

In [12]:
for index, row in key_all_songs_df.iterrows():
    key_all_songs_df.iat[index,3] = key_reference[key_all_songs_df.iat[index,2]]

key_all_songs_df.dtypes

id         object
year        int64
key_int     int64
key_str    object
dtype: object

In [ ]:
bins =